<h1>creating a new element</h1>
<form method="post" action="/merchants">
  <label for="name">Merchant Name:</label>
  <input id="name" type="text" name="name" />
  <input type="submit" value="Create Merchant" />
</form>
