<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spending Tracker</title>
    <link rel="stylesheet" type="text/css" href="/styles/structures.css">
  </head>
  <body>
    <div class="banner">
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Admin</a></li>
      </ul>
    </nav>
    <main class="flex flex--row">
      <aside>
        <ul>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/merchants">Merchants</a>
          </li>
          <li>
            <a href="/transactions">Transactions</a>
          </li>
          <li>
            <a href="/users">User Profile</a>
          </li>
          <li>
            <a href="/currencies">Currencies</a>
          </li>
          <li>
            <a href="/currency_rates">Currency Rates</a>
          </li>
         </ul>
       </aside>
      <section class="content">
        <%= yield %>
      </section>
    </main>
    <footer>
<%#      <p>Footer Contents</p> %>
    </footer>
  </body>
</html>
