<h1>Tags</h1>

<table>
  <tr>
    <th>Tag Name</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%=tag.id %>"><%= tag.name %></a></td>
    <td>
      <form method="get" action="/tags/<%= tag.id %>/edit">
        <input type="submit" value="Update Tag" />
      </form>
    </td>
    <td>
      <form method="post" action="/tags/<%= tag.id %>/delete">
        <input type="submit" value="Delete Tag" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
<form method="get" action="/tags/new">
  <input type="submit" value="Create a New Tag" name="name">
</form>
