<h1>creating a new element</h1>
<form method="post" action="/tags">
  <label for="name">Tag Name:</label>
  <input id="name" type="text" name="name" />
  <input type="submit" value="Create Tag" />
</form>
