<h1>Tag is</h1>

<label for="name"><%= @tag.name %></label>

<form method="post" action="/tags/<%= @tag.id %>/delete">
  <input type="submit" value="Delete Tag" />
</form>

<form method="get" action="/tags/<%= @tag.id %>/edit">
  <input type="submit" value="Update Tag" />
</form>
