<h1>Creating a new cuurency</h1>
<form method="post" action="/currencies">
  <label for="name">Currency Name:</label>
  <input id="name" type="text" name="name" />
  <label for="short-name">Currency Short Name:</label>
  <input id="short_name" type="text" name="short_name" />
  <input type="submit" value="Create Currency" />
</form>
