
html {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

body {
  background-color: #14213D;
  color: #E5E5E5;
}

.banner {
  background: url('/images/ST_Logo.png');
  height: 170px;
  width: 100%;
  background-size: 100%;
}

nav ul {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  background: #FCA311;
}

li {
  list-style-type: none;
}

li a, li a:link, li a:visited {
  text-decoration: none;
  color: #E5E5E5;
  padding: 1px;
}

li a:hover, li a:active, li a:focus {
  background: #FCA311;
}

footer {
  height: 100px;
  width: 100%;
  color: #E5E5E5;
}

.flex {
  display: flex;
  justify-content: left;
}

.flex--row {
  flex-direction: row;
}

.flex :first-child {
  width: 200px;
}

table {
  border:  1px solid #929292;
  margin-bottom: 10px;
  margin-top: 10px;
}

td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid #929292;
}

td a, td a:link, td a:visited {
  text-decoration: none;
  color: #E5E5E5;
  padding: 1px;
}

td a:hover, td a:active, td a:focus {
  background: #FCA311;
}

.filter-text {
  font-size: 12px;
}
