<%#<p>Something went wrong. This user may already exist or have some transactions associated with it. Please check the list of users and transactions again</p>%>
<p>Something went wrong. Please check if the element: </p>
<p>already exists or</p>
<p>is linked to another element<p>
